
  @import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');
:root{
--Light-red: hsla(0, 100%, 67%, 0.582);
--Orangey-yellow: hsla(39, 100%, 56%, 0.651);
--Green-teal: hsla(166, 100%, 37%, 0.507);
--Cobalt-blue: hsl(234, 85%, 45%);

--Light-slate-blue-background: hsl(252, 100%, 67%);
--Light-royal-blue-background: hsl(241, 81%, 54%);
--Violet-blue-circle: hsla(256, 72%, 46%, 1);
--Persian-blue-circle: hsla(241, 72%, 46%, 0);

--White: hsl(0, 0%, 100%);
--Pale-blue: hsl(221, 100%, 96%);
--Light-lavender: hsl(241, 100%, 89%);
--Dark-gray-blue: hsl(224, 30%, 27%);

}

  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color:var(--Pale-blue) ;
    font-family: 'Hanken Grotesk', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.Card{
    box-shadow: hsl(224, 30%, 27%);
    border-radius: 15px;
    margin: 0 auto;
    width: 600px;
    background-color: var(--White);
 }
.Card_container{
  display: flex;

}
.Resultat{
    width: 50%;
    padding: 20px 1px;
    display: flex;
    gap: 12px;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to bottom,var(--Light-slate-blue-background), var(--Light-royal-blue-background));

}
.Resultat .Score{
    height: 110px;
    width: 110px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom,var(--Violet-blue-circle), var(--Persian-blue-circle));
}
.Resultat .titre{
    color: var(--Light-lavender);
    margin-bottom: 12px;
}
.Score h1 {
    /* Vos styles ici */
    color: var(--White);

  }
  .Resultat h2 {
    /* Vos styles ici */
    color: var(--White);

  }
  .Score p {
    /* Vos styles ici */
    color: var(--Light-lavender);

  }
  .details{
    color: var(--Light-lavender);
    width: 200px;
 
  }

.container_summary{
    width: 50%;
    padding: 20px 24px;
    display: flex;
    flex-direction: column;
  }

.summary_title{
  font-weight: 700;
  margin-bottom: 30px;
}

.Category{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.rows{
  display: flex;
  border-radius: 25px;
  align-items: center;
  justify-content: space-between;
  padding: 12px 10px;

}
.row{
  display: flex;
  align-items: center;
  gap: 5px;

}


.rows:nth-child(1){
  background-color: var(--Light-red);
}
.rows:nth-child(1) .row {
 color: red;
}
.rows:nth-child(2){
  background-color: var(--Orangey-yellow);
}
.rows:nth-child(2) .row {
  color:var(--Orangey-yellow);
 }
.rows:nth-child(3){
  background-color: var(--Green-teal);
}
.rows:nth-child(3) .row {
  color:  hsl(166, 90%, 47%);
 }
.rows:nth-child(4){
  background-color: var(--Pale-blue);
}
.rows:nth-child(4) .row {
  color: hsl(234, 85%, 45%);
 }
.btn{
  border: none;
  border-radius: 20px;
  margin-top: auto;
  padding: 15px;
  background-color: var(--Dark-gray-blue);
  color: var(--White);
  
}
.btn:hover{
  background-color: var(--Cobalt-blue);
}